# npm/yarn
node_modules/
yarn.lock

# Build artifacts
dist/
*.js
*.map
*.d.ts
*.tsbuildinfo
*.lerna_backup
stats.json

# Symlinks
cocoon-editor/src/cocoon
cocoon-editor/src/cocoon-editor-http

# Examples
examples/_*
examples/*.png
examples/yarn.lock
!examples/nodes/*

# Exceptions
!dev.js
!cocoon-rollup/index.js
