# npm
node_modules/

# Build artifacts
dist/
*.js
*.map
*.d.ts
*.tsbuildinfo
stats.json

# Examples
examples/_*
examples/*.png
examples/yarn.lock
!examples/nodes/*

# Exceptions
!scripts/dev.js
!cocoon-rollup/index.js
