# npm
node_modules/
yarn.lock
yarn-error.log

# Build artifacts
**/build/
**/dist/
*.js
*.map
*.d.ts
*.tsbuildinfo
*.lerna_backup
stats.json

# Symlinks
packages/editor/src/cocoon
packages/editor/src/editor-http

# Examples
examples/_*
examples/*.png
!examples/nodes/*

# Exceptions
!dev.js
!packages/rollup/index.js
!packages/plugins/**/*.js
