@import url('https://fonts.googleapis.com/css?family=Nunito:400');

/* https://github.com/ayu-theme/ayu-colors/ */
:root {
  --color-background: #0d131a;
  --color-foreground: #bfbab0;
  --color-ui: #475059;
  --color-ui-line: #050d15;
  --color-highlight: #ffee99;
  --color-red: #ff3333;
  --color-blue: #39bae6;
  --color-mint: #95e6cb;
  --color-green: #c2d94c;
  --color-orange: #ff7733;
  --color-purple: #a37acc;
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: Nunito;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Editor
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.Editor__graph {
  width: 100%;
  height: 100%;
}
.Editor__grid line {
  stroke: var(--color-ui-line);
  stroke-width: 1;
}
.Editor__error {
  width: 100%;
  height: 100%;
  padding: 40px;
  color: white;
  background-color: hsl(0, 72%, 40%);
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Editor Nodes
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.EditorNode * {
  fill: var(--color-foreground);
}
.EditorNode text {
  text-anchor: middle;
}
.EditorNode--cached * {
  fill: var(--color-orange);
}
.EditorNode--error * {
  fill: var(--color-red);
}
.EditorNode--processing * {
  fill: var(--color-purple);
}
.EditorNode__glyph:hover {
  fill: var(--color-highlight);
}
.EditorNode__id,
.EditorNode__summary {
  font-size: 12px;
  opacity: 0.6;
}
.EditorNode__summary {
  fill: var(--color-foreground);
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Editor Node Edges
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.EditorNode__edges path {
  stroke: var(--color-foreground);
  stroke-width: 3px;
  opacity: 0.7;
  fill: transparent;
}
.EditorNode__edges path:hover {
  stroke: var(--color-highlight);
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Editor Node Ports
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.EditorNodePort {
  stroke: transparent;
  stroke-width: 10px;
}
.EditorNodePort:hover {
  fill: var(--color-highlight);
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Portals & DataView
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

#portals > .DataView {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  border: 1px solid var(--color-ui);
}
.DataViewWindow {
  background-color: white;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Tooltips
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.tippy-tooltip {
  border: 1px solid var(--color-ui);
  border-color: var(--color-ui) !important;
  box-shadow: 0 0 5px 3px var(--color-background);
  background-color: var(--color-background) !important;
}
.tippy-content {
  min-width: 40px;
  max-width: 180px;
  color: var(--color-foreground);
  overflow: hidden;
}
.tippy-roundarrow {
  fill: var(--color-ui) !important;
}
