.MergeDiff {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.MergeDiff--preview {
  font-size: 8px;
}
.MergeDiff--preview .MergeDiff__list {
  overflow: hidden !important;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Items
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.MergeDiff__item--compact {
  display: flex;
}
.MergeDiff--preview .MergeDiff__item {
  padding: 0 2px;
  pointer-events: none;
}
.MergeDiff--full .MergeDiff__item--odd {
  background-color: hsla(0, 0%, 100%, 4%);
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Items
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.MergeDiff__row {
  display: flex;
  overflow: hidden;
}
.MergeDiff__row--different {
  color: hsl(-12, 90%, 40%);
}
.MergeDiff__row--equal {
  color: hsl(82, 39%, 42%);
}
.MergeDiff__cell {
  display: inline-block;
  width: 40%;
  height: inherit;
  overflow: hidden;
  align-self: center;
  padding-left: 2px;
  border-right: 1px solid hsla(0, 0%, 100%, 10%);
}
.MergeDiff__cellDimension {
  width: 20%;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Blocks
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.MergeDiff__block {
  display: inline-block;
  align-self: center;
}
.MergeDiff__block--different {
  background-color: hsla(-12, 90%, 40%, 75%);
}
.MergeDiff__block--equal {
  background-color: hsla(82, 39%, 42%, 70%);
}
.MergeDiff__block--source {
  opacity: 0.5;
}
.MergeDiff__block--target {
  opacity: 0.8;
}
