.Table {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.Table__header,
.Table__id {
  overflow: hidden;
  pointer-events: none;
}
.Table__header {
  border-bottom: 2px solid;
}
.Table__id {
  border-right: 2px solid;
}
.Table--preview {
  font-size: 10px;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Cells
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.Table__cell {
  padding: 0 8px;
  overflow: hidden;
  border-right: 1px solid hsla(0, 0%, 100%, 5%);
}
.Table--preview .Table__cell {
  padding: 0 2px;
  pointer-events: none;
}
.Table__cell--odd {
  background-color: hsla(0, 0%, 100%, 5%);
}
.Table__cell--selected {
  background-color: hsla(0, 0%, 100%, 15%);
}
.Table__cell--odd.Table__cell--selected {
  background-color: hsla(0, 0%, 100%, 20%);
}
