.TableView {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.TableView__header,
.TableView__id {
  overflow: hidden;
  pointer-events: none;
}
.TableView__header {
  border-bottom: 2px solid;
}
.TableView__id {
  border-right: 2px solid;
}
.TableView--preview {
  font-size: 10px;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Cells
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.TableView__cell {
  padding: 0 8px;
  overflow: hidden;
  border-right: 1px solid hsla(0, 0%, 100%, 5%);
}
.TableView--preview .TableView__cell {
  padding: 0 2px;
  pointer-events: none;
}
.TableView__cell--odd {
  background-color: hsla(0, 0%, 100%, 5%);
}
.TableView__cell--selected {
  background-color: hsla(0, 0%, 100%, 15%);
}
.TableView__cell--odd.TableView__cell--selected {
  background-color: hsla(0, 0%, 100%, 20%);
}
