/* https://github.com/ayu-theme/ayu-colors/ */
:root {
  --color-background: #0d131a;
  --color-foreground: #bfbab0;
  --color-background-error: hsl(0, 72%, 40%);
  --color-foreground-error: white;
  --color-ui: #475059;
  --color-ui-line: #050d15;
  --color-highlight: #ffee99;
  --color-red: #ff3333;
  --color-blue: #39bae6;
  --color-mint: #95e6cb;
  --color-green: #c2d94c;
  --color-orange: #ff7733;
  --color-purple: #a37acc;
  --font-size-small: 12px;
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: Avenir, sans-serif;
  margin: 0;
  padding: 0;
  cursor: default;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Error Page
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.ErrorPage {
  width: 100%;
  height: 100%;
  padding: 40px;
  color: var(--color-foreground-error);
  background-color: var(--color-background-error);
}
.ErrorPage--compact {
  padding: 2px;
  font-size: var(--font-size-small);
  overflow-y: scroll;
}
.ErrorPage--compact h1 {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-small);
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Editor
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.Editor {
  overflow: visible;
}
.Editor__graph {
  width: 100%;
  height: 100%;
}
.Editor__grid line {
  stroke: var(--color-ui-line);
  stroke-width: 1;
}
.MemoryInfo {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.8em;
  font-size: var(--font-size-small);
  color: var(--color-ui);
  pointer-events: none;
  user-select: none;
}
.MemoryInfo p {
  margin: 0;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Editor Nodes
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.EditorNode text,
.EditorNode__glyph {
  fill: var(--color-foreground);
}
.EditorNode text {
  text-anchor: middle;
  user-select: none;
}
.EditorNode--cached text,
.EditorNode--cached .EditorNode__glyph {
  fill: var(--color-orange);
}
.EditorNode--error text,
.EditorNode--error .EditorNode__glyph {
  fill: var(--color-red);
}
.EditorNode--processed text,
.EditorNode--processed .EditorNode__glyph {
  fill: var(--color-green);
}
.EditorNode--processing text,
.EditorNode--processing .EditorNode__glyph {
  fill: var(--color-purple);
}
.EditorNode__draggable {
  cursor: move;
}
.EditorNode__glyph--hot {
  transform-origin: center;
  animation: pulsate 1.5s cubic-bezier(0.5, 0, 0.5, 1);
  animation-iteration-count: infinite;
}
.EditorNode__glyph:hover {
  fill: var(--color-highlight);
}
.EditorNode__id,
.EditorNode__summary p {
  font-size: var(--font-size-small);
  opacity: 0.6;
}
.EditorNode__summary p {
  text-align: center;
  padding: 0 5px;
  margin: 0;
}
@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Edges
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.EditorNodeEdge path {
  stroke: var(--color-foreground);
  stroke-width: 3px;
  opacity: 0.3;
  fill: transparent;
  pointer-events: none;
}
.EditorNodeEdge--ghost path {
  opacity: 1;
  stroke: var(--color-green) !important;
}
.EditorNodeEdge__count {
  position: relative;
  top: -9px;
  left: -20px;
  width: 40px;
  font-size: var(--font-size-small);
  color: hsl(40, 10%, 60%);
  background: var(--color-background);
  border: 1px solid hsla(40, 10%, 60%, 50%);
  border-radius: 5px;
  text-align: center;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Ports
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.EditorNodePort__glyph {
  stroke: transparent;
  stroke-width: 10px;
  fill: var(--color-foreground);
}
.EditorNodePort__glyph:hover {
  fill: var(--color-highlight);
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Data View
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.DataView {
  width: 100%;
  height: 100%;
}

/* ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~ ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^
 * Tooltips
 * ~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^~^ */

.tippy-tooltip {
  border: 1px solid var(--color-ui);
  border-color: var(--color-ui) !important;
  box-shadow: 0 0 5px 3px var(--color-background);
  background-color: var(--color-background) !important;
}
.tippy-content {
  min-width: 40px;
  max-width: 180px;
  color: var(--color-foreground);
  overflow: hidden;
}
.tippy-roundarrow {
  fill: var(--color-ui) !important;
}
