:root {
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
  color-scheme: dark;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}
